@use '../../styles//common' as *;

.pagination {
  display: flex;
  flex-direction: column;
  border: 1px solid $border_color_main;

  padding: 5px;
  gap: 7px;
  margin: 10px;

  position: fixed;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  min-width: 15vw;
  background-color: rgba(183, 183, 183, 0.611);
  transition: .6s;

  button:hover {
    color: $main_text_color;

  }



  &-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;

    button {
      background-color: rgba(100, 100, 100, 0.299);
      font-weight: bold;
      border-color: $main_color_theme;
      color: $second_text_color;
    }
  }

  .page-button {
    background-color: rgba(100, 100, 100, 0.299);
    color: $second_text_color;
    padding: 5px 7px;
    font-weight: bold;
    border-color: $main_color_theme;
    margin: 2px;

  }


  .page-button.active {
    background: $main_color_theme;
    color: $main_text_color;
    font-weight: bolder;

  }

}

.pagination:has(button:hover) {
  background-color: rgba(255, 255, 255, 0.722);
}