@use '../../styles/common' as *;


.container-search {
  margin: 20px 0;
  padding: 20px;
  border: 2px solid $border_color_main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-page {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid blue;
    gap: 20px;
    &-item {
      
      
      
      
      
      span{
        border: 1px solid red;
        font-size: .8vw;
      }
      img {
        width: 10vw;
      }
    }

  }
}