.container {
  width: 100%;
  height: auto;
  min-width: 375px;
  border: 1px solid red;
  h3{
    padding: 0;
    margin: 0;
    font-size: clamp(1rem,1vw,2rem);
  }
  span{
    font-size: clamp(.8rem,.8vw,2rem);
  }
  p{
    font-size: clamp(.8rem,.8vw,2rem);
  }
  article{
    font-size: clamp(1rem,.8vw,2rem);
  }
}

