$main_color : white;
$main_text_color : black;
$second_text_color:white;
$border_color_main:rgba(0, 0, 0, 0.347);
$main_color_theme:rgba(99, 58, 169, 0.396);

@mixin mobileClick() {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.02);
    }
  }

  @media (hover: none) and (pointer: coarse) {
    &:active {
      transform: scale(1.008);
      opacity: 0.5;
    }
  }
}
.container {
  width: 100%;
  height: auto;
  min-width: 375px;
  
  button{
    @include mobileClick()
  }
  h3{
    padding: 0;
    margin: 0;
    font-size: clamp(.8rem,1vw,2rem);
  }
  h5{
    padding: 0;
    margin: 0;
    font-size: clamp(.5rem,.7rem,1rem);
  }
  span{
    font-size: clamp(.8rem,.8vw,2rem);
  }
  p{
    font-size: clamp(.8rem,.8vw,2rem);
  }
  article{
    font-size: clamp(1rem,.8vw,2rem);
  }
  article{
    font-size: clamp(.8rem, .8vw, 2rem);
  }
  input{
    font-size: clamp(.8rem, 1.2vw, 2rem);
  }
  
}

.text-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.protect-text {
  overflow-wrap: break-word; 
  word-break: break-word; 
  white-space: normal; 
  line-height: 1.4; 
  max-width: 100%; 

  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//MOBILE

@mixin breakPoint($point) {
  @if $point ==phone {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $point ==tablet {
    @media (max-width: 834px) {
      @content;
    }
  } @else if $point ==laptop {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $point ==desktop {
    @media (max-width: 1440px) {
      @content;
    }
  }
}



