@use '../../styles/common' as *;

.container-nav {
    grid-area: container-nav;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 10vh;
    a{
        text-decoration: none;
    }
    &-movies,
    &-people,
    &-tv {
        position: relative;
        padding: 10px;
        cursor: pointer;
        border: 1px solid yellow;
        
        &-bar {
            ul{
                display: flex;
                justify-content: center;
                list-style: none;
                padding: 0 10px;
                width: auto;
                li{
                    padding: 5px;
                    width: 10vw;
                    font-size: .9vw;
                }
            }
           
            display: block;
            opacity: .5;
            visibility: hidden;
            position: absolute;
            top: 95%;
            left: 0;
            background-color: rgba(1, 1, 1, 0.315);
            color: white;
            padding: 10px;
            border-radius: 25px;
            z-index: 10;
            font-size: .8vw;
        }
        &-bar li:hover{
            color: $main_text_color;
            font-weight: bold;
            border: 1px solid $border_color_main;
            background-color: $second_text_color;
        }

        &:hover &-bar {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            
        }

    }

}