@use '../../styles/common' as *;



.container-nav {
    grid-area: container-nav;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 10vh;
    border: 1px solid $border_color_main;
    background-color: $main_color_theme;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    img{
        width: 2vw;
    }
    a{
        text-decoration: none;
    }
    &-movies,
    &-people,
    &-tv {
        position: relative;
        padding: 10px;
        cursor: pointer;
        border: 2px solid $border_color_main;
        
        font-weight: bold;
        
        &-bar {
            ul{
                display: flex;
                justify-content: center;
                list-style: none;
                padding: 0 10px;
                width: auto;
                li{
                    padding: 5px;
                    width: 10vw;
                    font-size: .9vw;
                }
            }
           
            display: block;
            opacity: .5;
            visibility: hidden;
            position: absolute;
            top: 95%;
            left: 0;
            background-color: rgba(1, 1, 1, 0.315);
            color: white;
            padding: 10px;
            border-radius: 25px;
            z-index: 10;
            font-size: .8vw;
        }
        &-bar li:hover{
            color: $main_text_color;
            font-weight: bold;
            border: 1px solid $border_color_main;
            background-color: $second_text_color;
            
        }

        &:hover &-bar {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            
        }

    }
    &-movies:hover,&-tv:hover,&-people:hover{
        @include mobileClick();
        border: 2px solid yellow;
    }

}