@use '../../styles/common' as *;



.container-nav {
    grid-area: container-nav;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 10vh;
    border: 1px solid $border_color_main;
    background-color: $main_color_theme;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 1;
    
    img{
        width: 2vw;
    }
    a{
        text-decoration: none;
    }
    &-movies,
    &-people,
    &-tv {
        position: relative;
        padding: 10px;
        cursor: pointer;
        border: 2px solid $border_color_main;
        z-index: 10;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        &-bar {
            
            ul{
                display: flex;
                justify-content: center;
                list-style: none;
                padding: 0 10px;
                width: auto;
                li{
                    padding: 5px;
                    width: 90px;
                    font-size: .9vw;
                }
            }
           
            display: block;
            opacity: .5;
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgba(1, 1, 1, 0.315);
            color: white;
            padding: 10px;
            border-radius: 25px;
            
            font-size: .8vw;
        }
        &-bar li:hover{
            color: $main_text_color;
            font-weight: bold;
            border: 1px solid $border_color_main;
            background-color: $second_text_color;
            
        }

        &:hover &-bar {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            z-index: 5;
        }

    }
    &-movies:hover,&-tv:hover,&-people:hover{
        border: 2px solid yellow;
    }

}


@include breakPoint(tablet) {
.container-nav{
    gap: 5px;
    button{
        width: 50px;
        height: 50px;
    }
    &-movies,
    &-people,
    &-tv {
        height: 50px;
        max-width: 120px;
        font-size: clamp(.5rem,.8vw,2rem);
  }
}
}

@include breakPoint(phone) {
.container-nav{
    gap: 5px;
    button{
        width: 25px;
        height: 25px;
    }
    &-movies,
    &-people,
    &-tv {
        height: 25px;
        max-width: 120px;
        
  }
}
}