@use '../../styles/common' as *;

.header-search {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    



    &-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 50;

        input {
            min-width: 250px;
            width: 15vw;
            border: 2px solid $border_color_main;
            border-radius: 25px;
            height: 7vh;
            padding: 0 15px;
            background-color: rgba(99, 58, 169, 0.396);
            color: white;

        }

        input::placeholder {
            text-align: center;
            color: white;

        }

        &-results {
            position: absolute;
            background-color: white;
            border: 2px solid $border_color_main;
            width: 58vw;
            transform: translate(-50%);
            top: 100%;
            left: 50%;
            z-index: 50;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            padding: 10px 5px;
            justify-content: space-evenly;
            min-height: 100px;
            overflow: auto;
            &-item {
                background-color: $main_color_theme;
                border: 1px solid $border_color_main;
                width: 110px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 5px;
                height: 220px;
                @include mobileClick();
                img {
                  width: 100%;
                  margin-top: 5px;
                  max-height: 213px;
                }
                span{
                    font-weight: bold;
                    border-bottom: 1px dotted $border_color_main;
                    font-size: .6vw;
                    @extend .protect-text;
                }

            }


        }
        &-bar{
            border-top: 2px dotted $border_color_main;
            padding: 5px;
            margin: 20px;
            display: flex;
            gap: 20px;
            div{
                width: 15vw;
            }
            button{
                padding: 5px;
                background-color: $main_color_theme;
                border: 1px solid $border_color_main;
            }
            button:hover{
            color: $main_text_color;
            font-weight: bold;
            border: 2px solid yellow;
            background-color: $second_text_color;
            
            }
            img{
                cursor: pointer;
                @include mobileClick();
                width: 2.5vw;
                
                
            }

        }
    }
}


@include breakPoint(tablet) {
    .header-search {
        &-panel {


            &-bar{
                  img{
             width: 25px;
             height: 25px;
              }   
            }
        }

    }
}

@include breakPoint(phone) {
    .header-search {
        &-panel {

            &-results{
                &-item{
                    width: 55px;
                    height: 110px;
                }
            }
            &-bar{
                flex-direction: column-reverse;
                align-items: center;
                
                div{
                    text-align: center;
                    width: 100%;
                }
              img{
             width: 25px;
             height: 25px;
              }  
            }
        }

    }
}
