@use '../../styles/common' as *;

ul {
    list-style: none;

}

.container-popular {
    
    ul {
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
}