.moveminidetail {
    border: 2px solid rgb(0, 255, 247);
    border-radius: 25px;

    display: flex;
    align-items: center;
    padding: 20px;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.281);

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h3 {
            width: 15vw;
        }

        img {
            width: 10vw;

        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        border: 1px solid salmon;
        gap: 10px;
        width: 50vw;

        &-info {
            display: flex;
            align-items: baseline;

            justify-content: flex-start;
            gap: 10px;
            border: 1px solid blue;

            .informs {
                display: flex;
                flex-direction: column;
                border-right: 2px solid black;
                padding-right: 5px;

                img {
                    width: 15px;
                    height: 15px;
                }

            }


        }
        &-genres {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            span{
                margin: 0 5px;
            }
        }

        &-article {
            text-align: left;
            padding: 5px;
            border: 1px solid blue;
            max-width: 100%;
        }

    }
}