@use '../../styles/common' as *;

a {
    text-decoration: none;
    color: inherit;

}

.moveminidetail {
    @include mobileClick();
    border: 2px solid rgba(0, 0, 0, 0.347);
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 25px 25px;
    gap: 15px;
    background-color: rgba(99, 58, 169, 0.396);

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h3 {
            width: 15vw;
            max-width: 100%;
        }

        img {
            width: 10vw;
            margin-top: 10px;

        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 50vw;

        &-info {
            display: flex;
            align-items: baseline;
            justify-content: space-evenly;
            gap: 10px;

            .informs {
                display: flex;
                flex-direction: column;
                border-bottom: 2px solid $border_color_main;
                border-radius: 25px;
                padding-right: 5px;
                padding: 0 5px;

                img {
                    width: 15px;
                    height: 15px;
                }

            }


        }

        &-genres {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            span {
                margin: 0 5px;
            }
        }

        &-article {
            text-align: left;
            padding: 5px;
            max-width: 100%;
        }

    }
}

@include breakPoint(tablet) {
    .moveminidetail {
        gap: 5px;
        flex-direction: column;
        padding: 5px;
        max-width: 500px;
        &-header {
            width: 75%;
            flex-direction: row;
            h3{
                width: 100%;     
            }
            img{
                min-width: 85px;
                min-height: 125px;
            }
        }
        &-body {
            width: 100%;
            &-info {
                flex-wrap: wrap;
            }
        }
    }
}

@include breakPoint(phone) {
    .moveminidetail {

        flex-direction: column;
        padding: 5px;
        max-width: 400px;
     
        &-header {

            width: 75%;
            flex-direction: row;
            h3{
                width: 90%;
                
                
            }

        }

        &-body {
            &-info {
                flex-wrap: wrap;
            }
        }
    }
}