#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  display: grid;
  
  grid-template-areas: 
  "container-header""container-header""container-header""container-header""container-header"
  "container-nav""container-nav""container-nav""container-nav""container-nav"
  "container-main""container-main""container-main""container-main""container-main"
  "container-footer""container-footer""container-footer""container-footer""container-footer";
}